{% extends "!layout.html" %}
{% block rootrellink %}
<li><a href="http://rewrite.drbacchus.com/">rewrite.drbacchus.com</a> &raquo;</li>
<li><a href="http://rewrite.drbacchus.com/book/">mod_rewrite And Friends</a></li>
{% endblock %}
{% block footer %}

<script type="text/javascript"><!--
google_ad_client = "pub-3377830205531449";
/* large horizontal - rewrite */
google_ad_slot = "4928503505";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<br />

{{ super() }}
{% endblock %}
